aside.container.container_inside.banner.bg.bg_t_banner
  .container__wrap
    .banner__content
      .banner__text
        h2 Lorem ipsum dolor sit amet consectetur. <span>Aspernatur porro incidunt</span>
        a(href="#signup").btn Button
      .img.banner__img.banner__img_t_1.banner__blur
        picture
          source(srcset="img/banner-1-mockup.png" media="(min-width:769px)")
          source(srcset="img/mobile/m-banner-1-mockup.png" media="(max-width:768px)")
          img(src="img/banner-1-mockup.png", alt="")