footer.footer.container.container_footer.container_bl
  .container__wrap
    .footer__top.flex.flex_center_a.flex_sp
      .flex
        a(href="index.html").footer__logo 
          img(src="img/svg/logo.svg", alt="")
        .flex.flex_col.flex_gap_8
          a(href="#tel").flex.flex_center_a.flex_gap_15.footer__phone +11111111111
          a(href="#mail").flex.flex_center_a.flex_gap_15.footer__email email@email.com
          p.flex.flex_gap_15.footer__adr.footer__adr_mobile Lorem ipsum dolor sit amet consectetur
      .flex
        p.flex.flex_gap_15.footer__adr.footer__adr_desktop Lorem ipsum dolor sit amet consectetur
        .footer__button
          a(href="#signup").btn.btn_min.btn_wh Button 
    nav 
      ul
        li 
          a(href="#") Menu item
          ul
            li 
              a(href="currencies.html") Menu item
            li 
              a(href="shares.html") Menu item
            li 
              a(href="indices.html") Menu item
            li 
              a(href="crypto.html") Menu item
        li 
          a(href="#") Menu item
          ul
            li 
              a(href="basics.html") Menu item
            li 
              a(href="analysis.html") Menu item
            li 
              a(href="algorithm.html") Menu item
        li 
          a(href="#") Menu item
          ul
            li 
              a(href="terms.html") Menu item
            li 
              a(href="platform.html") Menu itemорма
            li 
              a(href="strategy.html") Menu item
        li 
          a(href="#") Menu item
          ul
            li 
              a(href="state.html") Menu item
            li 
              a(href="news.html") Menu item
            li 
              a(href="prognoses.html") Menu item
            li 
              a(href="calendar.html") Menu item
        li 
          a(href="#") Menu item
          ul
            li 
              a(href="history.html") Menu item
            li 
              a(href="whyus.html") Menu item
            li 
              a(href="documents.html") Menu item
            li 
              a(href="contacts.html") Menu item
    .footer__desc 
      p
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis at voluptas magni, nihil sed nulla in vel non debitis voluptates dolorem quia repellat qui earum, incidunt fugiat cum corporis enim?
        |<br>
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor vitae dignissimos tempore harum veniam corrupti ipsam soluta? Minima facere praesentium, recusandae, voluptatibus odit impedit autem et, reprehenderit aperiam quisquam perferendis!
      p.footer__bottom © All rights reserved. Company  2024