.mobile-menu
  nav 
    ul
      li 
        a(href="#") Menu item
        ul
          li 
            a(href="terms.html") Menu item
          li 
            a(href="platform.html") Menu item
          li 
            a(href="strategy.html") Menu item
      li 
        a(href="#") Menu item
        ul
          li 
            a(href="currencies.html") Menu item
          li 
            a(href="shares.html") Menu item
          li 
            a(href="indices.html") Menu item
          li 
            a(href="crypto.html") Menu item
      li 
        a(href="#") Menu item
        ul
          li 
            a(href="state.html") Menu item
          li 
            a(href="news.html") Menu item
          li 
            a(href="prognoses.html") Menu item
          li 
            a(href="calendar.html") Menu item
      li 
        a(href="#") Menu item
        ul
          li 
            a(href="basics.html") Menu item
          li 
            a(href="analysis.html") Menu item
          li 
            a(href="algorithm.html") Menu item

  .mobile-menu__middle
    a(href="#signup", target="_blank").btn.btn_wh Button
  .mobile-menu__bottom 
    a(href="#").active En
    a(href="#") Fr
    a(href="#") Ge
